{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
		<div class="login-box">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Connexion</h5>
          <button class="social-button" type="button" id="btnGoogle">
						<span>Connexion GOOGLE</span>
					</button>
					<div class="login-ou">
						<hr class="hr-ou">
						<span class="span-ou">ou</span>
					</div>
					<button class="social-button" id="btnFacebook" type="button">
						<span>Connexion FACEBOOK</span>
					</button>
			  </div>
      </div>
    </div>
  </div>
</div>

<style>

.login-box:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-signin {
  border: 0;
  border-radius: 0rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1)
}

.card-signin .card-title {
  font: 0.85rem "Montserrat", serif;
	text-transform: uppercase;
	letter-spacing: 0.28rem;
	color: #333333;
    margin-bottom: 1.7rem;
    font-weight: 300;
    font-size: 1.5rem
}

.card-signin .card-body {
    padding: 2rem
}

.login-ou {
	position: relative;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-ou {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-oo {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.social-button {
  background-position: 25px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin: 10px auto;
  outline: rgb(255, 255, 255) none 0px;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#btnFacebook {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
  border: 1px solid rgb(60, 90, 154);
}

#btnFacebook:hover {
  border-color: rgb(60, 90, 154);
  background: rgb(60, 90, 154) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook-white.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#btnFacebook span {
  box-sizing: border-box;
  color: rgb(60, 90, 154);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#btnFacebook:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#btnGoogle {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  border: 1px solid rgb(220, 74, 61);
}

#btnGoogle:hover {
  border-color: rgb(220, 74, 61);
  background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#btnGoogle span {
  box-sizing: border-box;
  color: rgb(220, 74, 61);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#btnGoogle:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

@media screen and (max-width: 350px) {
	.social-button {
    font-size: 0.8rem;
	}

</style>

{% endblock %}

{% block javascripts %}
  <script src="https://apis.google.com/js/api:client.js"></script>
	<script>
		gapi.load('auth2', function () {
			auth2 = gapi.auth2.init({
        client_id: '798194073310-46u2j7i62dopv0l5jffmb7nubn0stmeu.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
			attachSignin(document.getElementById('btnGoogle'));

			function attachSignin(element) {

				auth2.attachClickHandler(element, {}, function (googleUser) {

					const id_token = googleUser.getAuthResponse().id_token; // id_token = nom du token de google dans GoogleAuthenticator.php

					const xhr = new XMLHttpRequest();
					xhr.open('POST', 'http://localhost:8000/login/google');
					xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
					xhr.onload = function() {
						window.location.href = "http://localhost:8000/product/new";
					};
					xhr.send('id_token=' + id_token);
				})
			}
		});

	//configuration du SDK FACEBOOK pour JavaScript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '510689286535112',
      cookie     : true,
      xfbml      : true,
      version    : 'v7.0'
    });

    FB.AppEvents.logPageView();

		const btnFacebook = document.getElementById('btnFacebook');

		btnFacebook.onclick = function () {
			FB.login(function(response){
				//stock le token dans une variable
				const accessToken = response.authResponse.accessToken

				const xhr = new XMLHttpRequest();
				xhr.open('POST', 'http://localhost:8000/login/facebook');
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				xhr.onload = function() {
					window.location.href = "http://localhost:8000/product/new";
				};
				xhr.send('access_token=' + accessToken);  //access_token = nom du token de Facebook dans FacebookAuthenticator.php
			});
		}
  };

  (function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

</script>
{% endblock %}
