body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
	font-family:'Montserrat', sans-serif;
	font-weight:300;
	font-size:3.4rem;
	margin-top: 5rem;
}

.container {
	margin-bottom: 2rem;
}

.footer {
	display: flex;
	margin-top: auto;
	justify-content: center;
	padding: 1rem;
	background-color: #343a40;
	text-align: center;
	}

.footer a {
	color: white;
	font-size: 1.25rem;
}

label {
    font-size: 4.5rem;;
}

@media screen and (max-width: 640px) {
	h1 {
		font-size: 2rem;
	}
}
