{# templates/product/new.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Pannel voitures{% endblock %}
{% block body %}
		<h1 class="mt-5 mb-5">Tableaux de bord</h1>
		<table class="table">
 			<thead class="thead-dark">
	 			<tr>
					<th scope="col">Marque</th>
					<th scope="col">Modèle</th>
					<th scope="col">Année</th>
					<th scope="col">Plaque d'immatriculation</th>
					<th scope="col">Type de motorisation</th>
					<th scope="col"></th>
	 			</tr>
 			</thead>
 			<tbody>
				{% for car in cars %}
					<tr>
						<td>							
						</td>
						<td></td>
						<td></i></td>
						<td><a href=""></a>
					</tr>
				{% endfor %}
	 		</tbody>
		</table>
{% endblock %}
