{# templates/product/new.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Gallerie{% endblock %}
{% block stylesheets %}

 <style>


 </style>
{% endblock %}
{% block body %}
		<h1 class="mt-5">Gallerie</h1>


{% endblock %}
