{# templates/car/new.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Ajoutez une nouvelle voiture{% endblock %}

{% block body %}

	<div class="mt-3 row">

		<div class="col-md-8 offset-md-2">

			<h1 class="mb-3">Ajouter un véhicule</h1>

			{% if error is defined %}
				{{ error }}
			{% endif %}

			{{ form_start(form) }}

			    {{ form_rest(form) }}

					<button type="submit" class="btn btn-lg btn-outline-dark">Stocker</button>

			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
