{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
{#{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}#}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Connexion</h5>
                    <form class="form-signin">
                        <div class="form-label-group">
													<input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
													<label for="inputEmail">E-mail</label>
												</div>
                        <div class="form-label-group">
													<input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
													<label for="inputPassword">Mot de passe</label>
												</div>
                        <div class="custom-control custom-checkbox mb-3">
													<input type="checkbox" class="custom-control-input" id="customCheck1">
													<label class="custom-control-label" for="customCheck1">Se souvenir du mot de passe ?</label>
												</div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">S'inscrire</button>
                    </form>
										<hr class="my-4">
										<button class="btn btn-lg btn-google btn-block text-uppercase" type="button" id="btnGoogle">
											<i class="fab fa-google mr-2"></i>
											S'inscrire avec Google
										</button>
										<div class="login-ou">
											<hr class="hr-ou">
											<span class="span-ou">ou</span>
										</div>
										<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="button">
											<i class="fab fa-facebook-f mr-2"></i>
											S'inscrire avec Facebook
										</button>
								  </div>
              	</div>
            </div>
        </div>
    </div>
</div>

<style>
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem
}

body {
	 background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
   background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
   background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
   background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
   background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
}

.card-signin {
  border: 0;
  border-radius: 0rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1)
}

.card-signin .card-title {
  font: 0.85rem 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.28rem;
	color: #222;
    margin-bottom: 1.7rem;
    font-weight: 300;
    font-size: 1.5rem
}

.card-signin .card-body {
    padding: 2rem
}

.login-ou {
	position: relative;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.span-ou {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.hr-oo {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.form-signin {
  width: 100%
}

.form-signin .btn {
	font-size: 80%;
	border-radius: 0.5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem
}

.form-label-group input {
  height: auto
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x)
}

.form-label-group>label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out
}

.form-control:focus {
  box-shadow: 10px 0px 0px 0px #ffffff !important
}

.btn-google {
  color: white;
  background-color: #ea4335
}

.btn-facebook {
  color: white;
  background-color: #3b5998
}
</style>

{% block javascripts %}
  <script src="https://apis.google.com/js/api:client.js"></script>
	<script>
		gapi.load('auth2', function () {
			auth2 = gapi.auth2.init({
        client_id: '798194073310-46u2j7i62dopv0l5jffmb7nubn0stmeu.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
			attachSignin(document.getElementById('btnGoogle'));

			function attachSignin(element) {

				auth2.attachClickHandler(element, {}, function (googleUser) {

					const id_token = googleUser.getAuthResponse().id_token;
					console.log(id_token)

					const xhr = new XMLHttpRequest();
					xhr.open('POST', 'http://localhost:8000/login/google');
					xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
					xhr.onload = function() {
						window.location.href = "http://localhost:8000/product/list";
					};
					console.log(window.location.replace)
					xhr.send('id_token=' + id_token);
				})
			}
		});
	</script>
{% endblock %}

{% endblock %}
